:ruby
  active_devise = (current_teacher || current_student)
  navbar_class = active_devise.class == Teacher ? 'bg-dark navbar-dark' : active_devise.class == Student ? 'navbar-dark bg-primary':'navbar-dark bg-info'

%nav.navbar.navbar-expand-lg{class: navbar_class}
  %a.navbar-brand{:href => "#"} Classroom
  %ul.navbar-nav
    - if active_devise
      %span.badge.rounded-pill.bg-warning.text-dark= content_for :login_as,("As #{active_devise.class.name}")
      = render "layouts/navbars/#{active_devise.class.name.underscore}"
    - else
      %li.nav-item
        = link_to "Sign in as teacher", new_teacher_session_path, class: "nav-link"
      %li.nav-item
        = link_to "Sign in as student", new_student_session_path, class: "nav-link"