<%= form_with model:[:teach, @course, @post] do |form| %>
  <% if @post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md…" %>
  </div>
  <div class="my-5">
    <%= form.label :body %>
    <%= form.text_area :body, rows: 3, class: "block shadow…" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-2 px-3 btn btn-primary" %>
  </div>
<% end %>
