.card{:id => "#{dom_id task}"}
  .card-header
    = task.title
    %span.badge.rounded-pill.bg-dark= task.status

  .card-body
    = task.content

  .card-footer
    .btn-group
      = link_to "Edit this task", edit_me_task_path(task), class: 'text-warning me-3'
      = link_to "Destroy this task", [:me, task],  data: { turbo_method: :delete }, class: 'text-danger'
